# To execute the code in our notebook
altair

# To interactively browser Jupyter content with MyST
jupyterlab_myst
leafmap
matplotlib
numpy
vega_datasets

# My packages
pandas
geopandas

ipywidgets>=8.0.0
widgetsnbextension
plotly
xarray
rasterio
s3fs